body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Audiowave', 'Oswald', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Audiowide", sans;
  src: local("Audiowide"),
  url("./assets/fonts/Audiowide-Regular.ttf") format("truetype");

  font-family: "Oswald", sans;
  src: local("Oswald"),
  url("./assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}
