.auth-container {
  height: 100%;
  font-family: "Oswald", sans;
  display: grid;
  /* flex-direction: row wrap; */
  align-items: center;
  justify-content: center;
  background-image: 
  url("https://i.imgur.com/QhfAj5A.jpg")
  no-repeat;

}
.all-login{
  text-align: center;
  margin-top: 5em;
  border: 1px solid gray;
  box-shadow: 4px 5px 6px gray;
}

.login-title {
  justify-self: center;  
}

.username-label{
 justify-self: end;
}

.username-form{
  justify-self: end;
}

.password-label{
  justify-self: end;
}

.password-form{
  justify-self: end;
}

.login-button {
  font-family: "Oswald";
}
