.register-container {
  height: 100%;
  font-family: "Oswald", sans;
  display: grid;
  align-items: center;
  justify-content: center;
}
.all-register{
  text-align: center;
  display: inline flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  border: 1px solid gray;
  box-shadow: 4px 5px 6px gray;
  width: 40vw;
  height: 37vh;
  font-size: 1.5rem;
}

.username-label{
 justify-self: end;
}

.register-form{
  margin-left: 0.5vw;
  justify-self: end;
}

.password-label{
  justify-self: end;
}

.register-password-form{
  margin-left: 0.7rem;
  justify-self: end;
}

.email-form{
  margin-left: 2.5vw;
  text-align: end;
  justify-self: end;
}

.email-label{
  justify-self: end;
}

.register-button{
 font-family: "Oswald";
}