.details-container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
  "C1 C2 C3";
  background-image: url("https://i.imgur.com/kT2UFGu.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-container{
  grid-area: C2;
  margin-top: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid gray;
  background: rgba(255,255,255,1);
  box-shadow: 4px 5px 6px;
}

.vinyls-image {
  margin-top: 1.5em;
}

.vinyls-description {
  padding: 0 2em 0 2em;
  text-align: left;
}

.edit-link{
  text-align: center;
  background: none;
  border: none;
  outline: inherit;
  font: inherit;
  cursor: pointer;
  font-family: "Audiowide";
}

.delete-button {
  background: none;
  border: none;
  outline: inherit;
  font: inherit;
  cursor: pointer;
  font-family: "Audiowide";
}