.edit-container {
  font-family: "Oswald", "sans";
  margin: 10vh auto auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 55vh;
  border: 1px solid gray;
  box-shadow: 4px 5px 6px gray;

}

.edit-title {
  font-size: 1.5rem;
}

.edit-form{
  text-align: center;
}

.edit-label {
  justify-self: left;  
}

.username-label{
 justify-self: end;
}

.username-form{
  justify-self: end;
}

.password-label{
  justify-self: end;
}

.password-form{
  justify-self: end;
}

.submit-button {
  font-family: "Oswald";
  cursor: pointer;
}
