
input {
  width: 19em;
}

.create-container {
  font-family: "Oswald", sans;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 90vh;
  margin-top: 2em;
  border: 1px solid gray;
  box-shadow: 4px 5px 6px gray;
}
.create-form{
  text-align: left;
}

.create-form-title {
  text-align: center;  
}

.submit-button {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-content: center;
}