.vinyls-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/kT2UFGu.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vinyl-link {
  text-decoration: none;
}

.vinyl-container{
  max-height: 24em;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid gray;
  background: rgba(255,255,255,1);
  box-shadow: 4px 5px 6px gray;
}

@media only screen and (max-width: 900px) {
  .vinyls-container{
      grid-template-columns: 1fr; 
}
}

